*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.content-container{
    height: 100vh;
    background-color: rgba(20,25,34,255);
    display: flex;
}

/* START LEFTBAR */

.leftbar{
    width: 200px;
    height: calc(100vh - 80px);
    background-color: rgba(0,0,0,255);
    padding: 1em;
    font-size: .9em;
    z-index: 99;
    position: relative;
    color: grey;
}



@media screen and (max-width:552px) {
    .leftbar{
        width: 60px;
    }
}

.logo{
    display: flex;
    justify-content: center;
}


.small-logo{
    display: none;
}

@media screen and (max-width:552px) {
    .big-logo{
        display: none;
    }

    .small-logo{
        display: inline;
        width: 100%;
    }

    
}
.icons{
    display: flex;
    flex-direction: column;
    display: none;
    text-align: center;
    font-size: 2em;
}

.icons>*{
    padding-top: 1em;
}

.icons>div:hover{
    color: white;
    cursor: pointer;
}
.options{
    list-style: none;
    padding-top: 2em;
}

.option{
    padding-top: .5em;
}

.leftbar h3{
    padding-top: 1em;
}

.leftbar h3:hover{
    color: white;
    cursor: pointer;
}

.playlist-names{
    list-style: none;
    padding-top: .2em;
}

.playlist-names>li{
    padding-top: 1em;
}

li:hover{
    color: white;
    cursor: pointer;
}

.crea{
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.crea:hover{
    color: white;
    cursor: pointer;
}

.add{
    width: 30px;
    height: 30px;
    padding: .5em;
    background-color: grey;
    margin-right: .5em;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.add:hover{
    color: white;
}

@media screen and (max-width:552px) {
    .playlist-names{
        display: none;
    }

    .leftbar h3{
        display: none;
    }

    .options{
        display: none;
    }

    .icons{
        display: inline;
        font-size: 1.5em;
    }

    .icons>*{
        padding-top: .5em;
    }
}

.user{
    width: 70%;
    height: 8%;
    position: absolute;
    bottom: 3em;
    color: grey;
}

.user-icons{
    width: 50%;
    height: 8%;
    position: absolute;
    bottom: 1em;
    display: none;
    color: grey;
    text-align: center;
}

.user-icons>*{
    padding-top: 1em;
}

.user-arrow{
    font-size: 1em;
}

.user-icon:hover{
    color: white;
    cursor: pointer;
}

.user-arrow:hover{
    color: white;
    cursor: pointer;
}

@media screen and (max-width:552px) {
    .user{
        display: none;
    }


    .user-icons{
        display: inline;
    }
}

@media screen and (max-height:600px) {
    .user{
        display: none;
    }
}

.user div{
    padding-bottom: 1em;
    padding-top: 1em;
}

.fa-circle-user{
    font-size: 1.5em;
}

.user-name{
    color: white;
    font-weight: bold;
}

.app-install:hover{
    color: white;
    cursor: pointer;
}

.user-img:hover{
    color: white;
    cursor: pointer;
}

/* END LEFTBAR */

/* START CONTENTS */


.contents{
    width: 100%;
    height: calc(100vh - 80px);
    overflow: auto;
}

/* START UPPER BAR */

.upperbar{
    width: 100%;
    height: 100px;
    background-color: rgba(8,11,18,255);
    position: fixed;
    top: 0;
    right: 0;
    opacity: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.upgrade{
    text-decoration: none;
    color: white;
    padding: 1em;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 1em;
    font-size: 0.8em;
}

.upgrade:hover{
    transform: scale(1.1);
    color: white;
}

/* END UPPER BAR */

/* START MUSIC PART */

.music{
    padding: 50px;
    /* height: calc(100vh - 80px); */
    background-color: rgba(20,25,34,255);
    /* overflow-y: auto; */
}

nav{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}


.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    list-style: none;
    color:grey;
    font-size: .8em;
}


.album-container{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: .8em;
}

h2{
    color: white;
    margin-top: 2em;
}

.album{
    width: calc(100% / 6 - 1em);
    aspect-ratio: 1/1;
}

@media screen and (max-width:878px) {
    .album{
        width: calc(100% / 4 - 1em);
    }
    
}

@media screen and (max-width:639px) {
    
    .album{
        width: calc(100% / 2 - 1em);
    }
    
}

.album-img{
    width: 100%;
}


.album-img-round{
    width: 100%;
    border-radius: 50%;
}






.title{
    color: white;
    text-align: center;
    margin-top: .5em;
    font-weight: bold;
}

.subtitle{
    color: grey;
    text-align: center;
    margin-top: .5em;
}

.subtitle-albums{
    margin-top: 1em;
    color: grey;
}







.lowerbar{
    width: 100%;
    height: 80px;
    background-color: rgba(40,40,40,255);
    z-index: 99;
    position: fixed;
    bottom: 0;
    right: 0;
}